
  <!-- Central Modal Large Info-->
<div class="modal fade" id="centralModalNuevo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Nuevo Restaurante {{ valor }}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">

        <!-- Material form contact -->
        <div class="card">

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form action="/restaurantes/nuevo" method="POST" class="text-center"
              style="color: #757575;" enctype="multipart/form-data">

              <div class="form-row mb-4">

                <div class="col">
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormNombre" name="nombre" class="form-control">
                    <label for="materialContactFormName">Nombre</label>
                  </div>

                </div>
                <div class="col">
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormDescripcion" name="descripcion" class="form-control">
                    <label for="materialContactFormName">Descripción</label>
                  </div>
                </div>

              </div>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormRating" name="rating" class="form-control">
                    <label for="materialContactFormName">Valoración</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormTiempoAprox" name="aprox_delivery_time"
                      class="form-control">
                    <label for="materialContactFormName">Tiempo aproximado de entrega</label>
                  </div>

                </div>
              </div>
              <!-- Nombre -->
              <div class="md-form mt-3">
                <input type="text" id="materialContactFormDireccion" name="direccion" class="form-control">
                <label for="materialContactFormName">Direccion</label>
              </div>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormlatitud" name="latitud" class="form-control">
                    <label for="materialContactFormName">Latitud</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormlongitud" name="longitud" class="form-control">
                    <label for="materialContactFormName">Longitud</label>
                  </div>
                </div>
              </div>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormcargo_empaque" name="cargo_empaque" class="form-control">
                    <label for="materialContactFormName">Cargo de empaque</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormdelivery_radio" name="delivery_radio"
                      class="form-control">
                    <label for="materialContactFormName">Distancia máxima para repartir</label>
                  </div>
                </div>
              </div>
              <!-- Nombre -->
              <div class="md-form mt-3">
                <select class="browser-default custom-select" name="delivery_type">
                  <option selected>Tipo de restaurante</option>
                  <option value="1">Repartir</option>
                  <option value="2">Recoger</option>
                  <option value="3">Ambos</option>
                </select>
              </div>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormcosto_repartir" name="costo_repartir"
                      class="form-control">
                    <label for="materialContactFormName">Costo para repartir</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactprecio_minimo_orden" name="precio_minimo_orden"
                      class="form-control">
                    <label for="materialContactFormName">Precio mínimo para crear una orden</label>
                  </div>
                </div>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="imagen_url"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
                </div>
              </div>

              <!-- Send button -->
              <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                type="submit">Guardar</button>

            </form>
            <!-- Form -->

          </div>

        </div>
        <!-- Material form contact -->
      </div>

      <!--Footer-->
      {{!-- <div class="modal-footer">
        <a role="button" class="btn btn-info">Get it now
          <i class="far fa-gem ml-1"></i>
        </a>
        <a role="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">No,
          thanks</a>
      </div> --}}
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Large Info-->
