<!-- Full Page Intro -->
  <div class="view full-page-intro fondo">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-white-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-6 mb-4 black-text text-center text-md-left">

            <h1 class="display-1 font-weight-bold">El Internacional</h1>

            <hr class="hr-light">

            <p>
              <strong>Comida deliciosa para todos los estados de ánimo</strong>
            </p>

            <a href="/crear-cuenta" class="btn btn-indigo btn-lg">Registrarse
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

 <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">Registrate con nosotros</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mauris tortor, bibendum tincidunt porta nec, ornare vitae nulla. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

      <hr class="mb-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">...y mucho más</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">
          <!--Grid column-->
          <div class="col-xl-6 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Actualizaciones frecuentes</h5>
                <p class="grey-text mt-2">El Internacional mejora cada mes. Nos encanta el proyecto y lo mejoramos tanto como sea posible.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-6 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Comunidad activa</h5>
                <p class="grey-text mt-2">Nuestros clientes cada vez son más.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->