<div class="wrapper">
  <div class="page-header" style="background-image: url('https://source.unsplash.com/ueZXMrZFFKQ/2400x1596');">
    <div class="filter"></div>
    <div class="container">
      {{!-- Mensajes para el usuario --}}
      {{> showMessages messages}}
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="card-title" style="font-weight: bold;">Ingresa nueva tu contraseña</h3>
            <p class="card-text text-center mt-5">Has solicitado el cambio de tu contraseña anterior. Ingresa una nueva
              para continuar disfrutando de tus comidas favoritas
            </p>
            {{!-- Formulario de restablecer --}}
            <form class="register-form" method="POST">
              <input type="password" class="form-control" placeholder="******" name="password" required>
              <button class="btn btn-block btn-round">Cambiar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>