{{!-- Mensajes para el usuario --}}

<div class="row principal">
  <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
    {{> showMessages messages}}
    <!-- Default form login -->
    <form class="text-center border border-light p-5" method="POST" action="/olvide-password" >

      <p class="h4 mb-4">Restablece tu contraseña</p>
      <p>Ingresa la dirección de correo con la que te registraste en El Internacional</p>
      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="usuario@correo.com"
       name="email" required>

      <button class="btn btn-info btn-block my-4" type="submit">Restablecer</button>

    </form>
    <!-- Default form login -->
  </div>
</div>