
<!-- Material form contact -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Crear nuevo restaurante no implementado</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="/{{rutaBase}}nuevo" enctype="multipart/form-data">

            <!-- Nombre -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormNombre" name="nombre" class="form-control">
                <label for="materialContactFormName">Nombre</label>
            </div>

            <!-- Nombre -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormDescripcion" name="descripcion" class="form-control">
                <label for="materialContactFormName">Descripción</label>
            </div>

            <!-- Nombre -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormRating" name="rating" class="form-control">
                <label for="materialContactFormName">Rating</label>
            </div>

            <!-- Nombre -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormTiempoAprox" name="aprox_delivery_time" class="form-control">
                <label for="materialContactFormName">Tiempo aproximado de entrega</label>
            </div>

            <!-- Nombre -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormDireccion" name="direccion" class="form-control">
                <label for="materialContactFormName">Direccion</label>
            </div>
 
            <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Guardar</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->